<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Sample</title>
</head>
<body>
  <p class="alert-success" *ngIf="names.length > 2">Currently there are more than 2 names!</p>
  <p class="alert-danger" *ngIf="names.length <= 2">Currently there are less than 2 names left!</p>
  
  <ul>
    <li *ngFor="let i of names">
      {{i.name}}
    </li>
  </ul>
  <br/>
  <ul>
    <li *ngFor="let e of employee">
      {{e.empID + " " +  e.empName}}
    </li>
  </ul>
  <!-- Table Select->Option -->
  <select>
    <option>India</option>
    <option>America</option>
  </select>
  <br/>
  <p>Heroes:</p>
  <ul>
    <li *ngFor="let hero of heroes">
      {{ hero }}
    </li>
  </ul>
</body>
</html>