<div id="velit">
    <div class="mltr">
        <div id="velit-head">
            <h2>Velit Id Imperdiet</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
        <div class="velit-box">
            <i class="fa fa-500px fa-2x"></i>
            <h3>Lobortis</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
        <div class="velit-box">
            <i class="fa fa-lastfm fa-2x"></i>
            <h3>Suscipt</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
        <div class="velit-box">
            <i class="fa fa-puzzle-piece fa-2x"></i>
            <h3>Vivamus</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
        <div class="velit-box">
            <i class="fa fa-ravelry fa-2x"></i>
            <h3>Facilisi</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
    </div>
</div>