<header>
    <div id="header-strip">
        <div class="mltr">
            <div id="header-logo">
                <h3>Basend</h3>
            </div>
            <div id="header-menu">
                <a href="">Home</a>
                <a href="">Pages</a>
                <a href="">Links</a>
            </div>
        </div>
    </div>
    <div id="header-box">
        <h1>Ultricles Nisl</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        <p><button>View More</button></p>
    </div>
</header>